@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #45A29E;
  --color-surface: #1F2833;
  --color-muted: #C5C6C7;
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .glass {
    background-color: rgba(31, 40, 51, 0.1); /* Dark Charcoal with 10% opacity */
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
